body {
    background-size: 100%;
    background-color: #f8f8f8
}

.menu li a {
    color: darkorange;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}

.menu {
    list-style-type: none
}

#podrobno,
#kratko,
#haracter {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}

#krop {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px
}

#podrob {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
