body {
    background-size: 100%;
    background-color: #f8f8f8
}

.menu li {
    color: aqua;
    font-family: fantasy;
    font-size: 12;
}

.menu {
    list-style-type: none
}

#podrobno,
#kratko {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}

h2 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px
}
